.contactList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.contactItem {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.contactListBtn {
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 20px;
  border: none;
  font-weight: 600;
}

.contactListBtn:hover,
.contactListBtn:focus {
  background-color: rgb(255, 2, 2);
  color: #fff;
  transform: scale(1.1);
  transition: all 250ms;
}

.contactText {
  font-weight: 700;
  font-size: 18px;
}
